/* global.css
 *
 * Main css file
 */

/** general formating **/

body {
	background-color: #ffffff;
	margin:	4px;
	padding: 0;
	font-family: "Open Sans", arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: 1em;
	color: #5a5a5a;
}
body > * {
	margin-left: 12px;
	margin-right: 12px;
}

img {
	border: none;
}
h1 {
	padding: 20px;
	font-size: 1.7em;
	font-weight: bold;
	color: #308ac5;
}
h2, h3 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	margin-top: 1.1em;
	margin-bottom: 1em;
	color: #ffffff;
	background-color: #308ac5;
	border-radius: 7px;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}
h4 {
	font-size: 1.1em;
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.75em;
	color: #308ac5;
}

h2 img, h3 img {
	vertical-align: bottom;
	padding-bottom: 2px;
	margin-left: 10px;
}
h4 img {
	vertical-align: bottom;
	margin-left: 15px;
	width: 22px;
	height: 22px;
}

p.message {
	font-size: 1.05em;
	font-weight: bold;
	color: #308ac5;
}
p.error-message {
	font-size: 1.05em;
	font-weight: bold;
	color: red;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.pre {
	white-space: pre;
}
.bold {
	font-weight: bold;
}

hr {
	height: 0px;
	padding: 5px;
	border: 0;
}

table {
	border: 0;
	border-collapse: collapse;
}

td, th {
	padding: 1px 8px;
}

a {
	color: #308ac5;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
}

button {
	cursor: pointer;
}
input[type=text], input[type=password], input[type=number], input[type=checkbox], input[type=radio], textarea {
	background: #ffffff;
	border: 1px solid #5090c1;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 3px 5px 3px 5px;
}
input[type=submit], input[type=button], input[type=reset], button, .custom-file-upload {
	background: #fa842f;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin: 2px 10px 2px 10px;
	padding: 2px 15px 2px 15px;
	border: 1px solid #fa842f;
	border-radius: 60px;
	box-shadow: -1px 2px 5px rgba(0,0,0,.3);
	cursor: pointer;
}
input[type=submit]:hover:enabled, input[type=button]:hover:enabled, input[type=reset]:hover:enabled, button:hover:enabled {
	background: #ffffff;
	color: #fa842f;
	border: 1px solid #fa842f;
}
input[type=submit]:disabled, input[type=button]:disabled, input[type=reset]:disabled, button:disabled, button[disabled] {
	background: #d0d0d0;
	border: 1px solid #d0d0d0;
	cursor: not-allowed;
}
input[type="file"] {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
input[type=number].priority {
	width: 5em;
	text-align: right;
}

.actionslist {
	margin-top: 20px;
	margin-bottom: 15px
}
.actionslist form {
	display: inline;
}
.actionslist input {
	margin-left: 15px;
}

.custom-file-upload {
	padding: 1px 6px;
}

select {
	background: #ffffff;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	padding: 3px 5px 3px 5px;
	min-width: 100px;
}
select:disabled {
	background: #f0f0f0;
	border: 1px solid #d0d0d0;
}

table.error {
	margin: auto;
	margin-top: 150px;
	color: #d72b3f;
	background-color: #f9f9f9;
}

.action {
	cursor: pointer;
	opacity: 1;
}
.noaction {
	cursor: default;
	opacity: 0.3;
}

img.info {
	margin-left: 10px;
	vertical-align: middle;
}

tr th.data{
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
th.required {
	text-decoration: underline
}

/*
 * Comments
 */
span.comment {
	font-style: italic;
	color: #555555;
}

.tooltip {
	position: relative;
	display: inline-block;
	text-decoration: none;
	outline: none;
	white-space: nowrap;
}

.tooltip span {
	visibility: hidden;
    transition: 0s visibility;
	position: absolute;
	top: 27px;
	min-width: 215px;
	max-width: 250px;
	padding: 7px;
	white-space: normal;
	z-index: 99;
	background-color: #505050;
	color: #ffffff;
	border: none;
	border-radius: 7px;
	opacity: .9;
	box-shadow: -1px 2px 5px rgba(0,0,0,.45);
}
.tooltip:hover span {
	visibility: visible;
	transition-delay: 0.2s;
}
.tooltip span:before, .tooltip span:after {
	content: "";
	position: absolute;
	z-index: 100;
	top: -8px;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #505050;
}

.left-aligned-tooltip span {
	left: -20px;
}
.left-aligned-tooltip span:before, .left-aligned-tooltip span:after {
	left: 25px;
}
.right-aligned-tooltip span {
	right: -25px;
	margin-left: -210px;
}
.right-aligned-tooltip span:before, .right-aligned-tooltip span:after {
	right: 25px;
}

/**
 ** Page header
 **/

header {
	position: fixed;
	top : 0px;
	z-index: 100;
	background-color: #203c4f;
	color: #cfcfcf;
	margin: 0px 0px 0px 0px;
	width: 100%;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}

/** Top bar */

.topbar {
	margin: 0;
	padding: 5px 1ex;
	text-align: left;
	display: flex;
	flex-flow: row wrap;
}
.conninfo {
	flex: 1;
}
.connlinks {
	padding-left: 20px;
	padding-right: 30px;
}
.language {
	padding-right: 5px;
}
.topbar .platform, .topbar .host, .topbar .username, .topbar .port {
	color: #ffffff;
}
.topbar a {
	color: #cfcfcf;
}
.topbar a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.topbar select {
	background-color: #484850;
	color: #cfcfcf;
}

/** Trail **/
.trail {
	margin: 0;
	padding: 5px;
	text-align: left;
	display: flex;
	flex-flow: row wrap;
}
.crumb {
	flex: 1;
	padding-left: 3px;
}
.crumb a {
	color: #cfcfcf;
	text-decoration: none;
}
.crumb a:hover {
	color: #ffffff;
	text-decoration: underline;
}
.crumb .icon {
	margin-right: 5px;
}
.trailicons img {
	padding: 1px 5px 1px 5px;
}

/** nav tabs **/
nav {
	display: flex;
}
.tab, .tab-inactive{
	background-color: #f4f4f4;
	text-align: center;
	font-size: 1.1em;
	border: 1px solid #dddddd;
	border-top: #ffffff;
	padding: 5px 5px 5px 5px;
}
.tab a {
	color: #828d94;
	display: block;
}
.tab a:hover {
	color: #3c424c;
}
.tab:hover {
	background-color: #ffffff;
	border-bottom: 1px solid #9ea1a6;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}
.tab .icon {
	display: block;
	padding-top: 5px;
}
nav .active a {
	color: #3c424c;
	text-decoration: none;
}
nav .active {
	background-color: #ffffff;
}

/**
 ** Main section
 **/
section {
	margin-top: 150px;
}

/**
 ** Page footer
 **/
footer {
}
.bottom_link {
	position: fixed; 
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 4px;
	background: #203c4f;
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	font-size: smaller;
}
.bottom_link {
	background-color: #3c424c;
	color: #cfcfcf;
}
.bottom_link:hover {
	color: #ffffff;
}

/**
 ** Data tables
 **/

table.data {
	border: 1px solid #e8e8e8;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}
th.data {
	color: #3c424c;
	background-color: #e0e0e0;
    font-weight: normal;
	font-size: 1.0em;
	padding: 3px 7px;
}
th.data a {
	color: #3c424c;
}
th.data a:hover {
	color: #cc0000;
}
tr th.data:first-child{
	border-left: 0;
}
tr th.data:last-child {
	border-right: 0;
}
tr.data1, tr.data2, tr.data3 {
	color: #484848;
	font-size: 0.9em;
}
tr.data1:hover, tr.data2:hover, tr.data3:hover {
	background-color: #eeeeee;
}
tr.data1 td, tr.data2 td, tr.data3 td{
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
tr.data1:first-child td, tr.data2:first-child td, tr.data3:first-child td {
	border-top: 0;
}
tr.data1 td:first-child, tr.data2 td:first-child, tr.data3 td:first-child {
	border-left: 0;
}
tr.data1:last-child td, tr.data2:last-child td, tr.data3:last-child td {
	border-bottom: 0;
}
tr.data1 td:last-child, tr.data2 td:last-child, tr.data3 td:last-child {
	border-right: 0;
}
tr:hover td.data1, tr:hover td.data2, tr:hover td.data3 {
	background-color: #eeeeee;
}
tr td.data1, tr td.data2, tr td.data3{
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
tr:first-child td.data1, tr:first-child td.data2, tr:first-child td.data3 {
	border-top: 0;
}
tr td.data1:first-child, tr td.data2:first-child, tr td.data3:first-child {
	border-left: 0;
}
tr:last-child td.data1, tr:last-child td.data2, tr:last-child td.data3 {
	border-bottom: 0;
}
tr td.data1:last-child, tr td.data2:last-child, tr td.data3:last-child {
	border-right: 0;
}
.row1, .data1 {
	background-color: #ffffff;
	text-align: left;
}
.row2, .data2 {
	background-color: #f9f9f9;
	text-align: left;
}
.row3, .data3 {
	background-color: #d4c8a1
}
tr.data1 img, tr.data2 img, tr.data3 img {
	vertical-align:bottom;
}
td.opbutton1, td.opbutton2 {
	padding: 0px;
	text-align: center;
}
td.opbutton1:hover, td.opbutton2:hover {
	text-decoration: none;
}
td.iconbutton:hover {
	background-color: #ffffff;
	transition: background-color 0.4s;
}
td.iconbutton a img {
	width: 22px;
	height: 22px;
	margin-top: 1px;
}
td.iconbutton a {
	padding: 5px 2px 1px 2px;
}
td.textbutton a {
	padding: 2px 6px;
	color: #308ac5;
}
td.textbutton a:hover {
	color: #cc0000;
}
td.emptybutton {
	width: 24px;
}

table.multiactions {
	margin-top: 6px;
	border: 1px solid #e8e8e8;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}
th.multiactions {
	text-align: left;
	background-color: #e6e6e6;
	font-size: 0.8em;
	padding: 0px 5px;
}
td.multiactionbuttons {
	background-color: #f9f9f9;
}

table.multiactions button.text {
	box-shadow: 0px 0px 0px;
}
table.multiactions button.icon {
	width: 22px;
	height: 22px;
	margin: 0px 8px;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: 0px 0px 0px;
}
table.multiactions button.icon:hover {
	background-color: #ffffff;
	transition: background-color 0.4s;
}
table.multiactions button.icon:disabled, table.multiactions button.icon:disabled:hover {
	opacity: 0.6;
	filter: grayscale(100%);
	cursor: not-allowed;
}

tr.row1 {
	border: 1px solid #d8d8d8;
}

/* Query result data table */
table#data tr {
	font-size: 0.9em;
}
table#data tr.data1, table#data tr.data2, table#data tr.data3 {
	font-size: 0.8em;
}

/** Other content formating **/

ul.toplink, ul.navlink {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.navlink{
	margin: 20px 0 20px 20px;
}

ul.toplink li, ul.navlink li {
	display: inline;
	border-left: 1px solid #b3b3b3;
	margin: 0;
	padding: 0 2px 0 5px;
}
ul.toplink li:first-child, ul.navlink li:first-child {
	border: none;
	padding-left: 0;
}

ul.buttonslist{
	margin: 20px 10px 10px 10px;
	padding: 0px;
}

ul.buttonslist li {
	display: inline;
	background: #fa842f;
	color: #ffffff;
	font-size: 1em;
	font-weight: bold;
	margin: 2px 15px 2px 15px;
	padding: 2px 15px 2px 15px;
	border: 1px solid #fa842f;
	border-radius: 60px;
	box-shadow: -1px 2px 5px rgba(0,0,0,.3);
	cursor: pointer;
}
ul.buttonslist li:hover {
	background: #ffffff;
	color: #fa842f;
	border: 1px solid #fa842f;
}
ul.buttonslist li a {
	color: inherit;
}
img.cellicon {
	width: 18px;
	margin: 1px;
}
.dot {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: inline-block;
}
.rectangle {
	height: 1.2em;
	vertical-align:middle;
	display: inline-block;
	width: 1px;
}
.rectangle span {
	display: none;
}
.redbg {
	background-color: #ff2f2f;
}
.orangebg {
	background-color: #fa842f;
}
.greenbg {
	background-color: #33e62c;
}

pre {
	font-size: 110%;
}
pre.data {
	font-size: 100%;
}
pre.error {
	font-size: 120%;
}

/** Grid div for forms */
div.form-container {
	display: grid;
	grid-template-columns: minmax(70px, min-content) max-content min-content;
	grid-gap: 7px;
	margin-top: 4px;
	margin-bottom: 4px;
}
div.form-label {
	white-space: nowrap;
	background-color: #e6e6e6;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: right;
}
div.form-comment {
	display: flex;
	align-items: center;
}
div.required {
	text-decoration: underline
}

/** Grid div for the parameters list */
div.form-container-param {
	display: grid;
	grid-template-columns: minmax(70px, min-content) min-content min-content min-content;
	grid-gap: 7px;
	padding: 10px;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}
div.form-param-label {
	white-space: nowrap;
	background-color: #e6e6e6;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: right;
}
div.form-param-info {
	display: flex;
	align-items: center;
	justify-content: center;
}
div.form-param-value {
	white-space: nowrap;
	border: solid 1px #e6e6e6;
	border-radius: 5px;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	align-items: center;
}
div.form-param-def-value {
	white-space: nowrap;
	border: solid 1px #e6e6e6;
	border-radius: 5px;
	background-color: #f6f6f6;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	color: #909090;
	font-style: italic;
}
div.form-param-button {
	white-space: nowrap;
	display: flex;
	align-items: center;
}

.rlbkEstimates {
	font-size: 0.9em;
	font-style: italic;
}

/** Specific div for the long objects lists (tables, sequences, marks, ...) **/
div.longlist {
	overflow: auto;
	max-height: 9.5em;
	margin-left: 4em;
	margin-bottom: 2em;
	width: max-content;
	padding-right: 4em;
	padding-left: 0.2em;
	border: 1px solid #e8e8e8;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
	border-radius: 7px;
}

/** FK browsing **/
div#root {
	position: absolute;
}
div.fk {
    margin-left: 20px;
	padding: 7px;
	background-color: #308ac5;
	border-left: 1px dotted #000;
	border-radius: 7px;
	box-shadow: -1px 2px 5px rgba(0,0,0,.25);
}

div#fkcontainer {
    margin: 0;
    position: relative;
    width: 100%; 
    background: none;
    border:0px;
}
div.fk_value {
	display: inline-block;
}
.highlight {
	background-color: #FFFF00;
}
a.fk_delete {
	display: table-cell;
	background-color: #fff;
	padding: 2px 5px 0px 5px;
}

/*
 * tablesorter JQuery plugin css description
 */

/* tables */

.tablesorter-default thead tr th {
	padding-right: 18px;
}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(../images/asc.gif);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(../images/desc.gif);
}
.tablesorter-default thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
	background-color: #d0d0d0;
}
.tablesorter-default thead .sorter-false {
	background-image: none;
	padding: 4px;
	cursor: default;
}

/* hidden filter row */

.tablesorter-default .tablesorter-filter-row.hideme .tablesorter-filter {
  display: none;
}

/* filter widget */

.tablesorter .filtered {
  display: none;
}

.tablesorter-default .tablesorter-filter-row td {
	background: #ffffff;
	border-bottom: #ccc 1px solid;
	line-height: normal;
	text-align: center; /* center the input */
	padding: 1px 3px 1px 3px;
	transition: line-height 0.1s ease;
}

.tablesorter-default input.tablesorter-filter {
	width: 5em;
	font-size: 0.8em;
    border: 1px solid #887F5C;
}
.tablesorter-default select.tablesorter-filter {
	font-size: 0.8em;
}
.tablesorter-default input.disabled {
	display: none;
}

button.filterreset {
	margin: 2px 0px 2px 0px;
	padding: 0px 3px 0px 3px;
	font-size: 0.87em;
	font-weight: normal;
	color: #ffffff;
	background-color: #308ac5;
	border: 1px solid #308ac5;
}
button.filterreset:hover {
	color: #308ac5;
	background-color: #ffffff;
	border: 1px solid #308ac5;
}
th.filtericon {
	vertical-align: bottom;
	width: 3.8em;
}

/** Specific div for the intro.php page **/
.intro-welcome {
	margin: 20px 20px 40px 20px;
	text-align:center;
}
.intro-welcome img {
	width: 400px;
}
.intro-link li {
	font-weight: normal;
}
.intro-footer {
	margin-top: 20px;
	margin-bottom: 20px;
	color: grey;
	font-style: italic;
	font-size: 0.9em;
}

/*
 * Specific div for the emajrollbacks.php page
 */
div.rlbk-nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
div.rlbk-nav >div {
	text-align: center;
}
/* columns 1 and 5 */
div.rlbk-nav-15 {
	min-width: 80px;
}
/* columns 2 and 4 */
div.rlbk-nav-24 {
	min-width: 200px;
}
/* column 3 */
div.rlbk-nav-title {
	font-size: larger;
	font-weight: bold;
	margin-bottom: 8px;
}

/* The autorefresh slider */

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 24px;
	white-space: nowrap;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 20px;
	background-color: #ccc;
	cursor: pointer;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: white;
	line-height: 2;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #308ac5;
}

input:focus + .slider {
	box-shadow: 0 0 1px #308ac5;
}

input:checked + .slider:before {
	content: "";
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* The 9th column of the steps table */
div#detailRlbkSteps td:nth-child(9) {
	padding: 0px;
}
