/* global.css
 *
 * css file for the main index.php file
 */
html {
	height: 100%;
}
body {
	height: 100%;
	margin:	0;
	padding: 0;
}

#allFrames {
	display: flex;
	height: 100%;
}

#browserDiv {
	position: relative;
    display: inline-block;
	height: 100%;
    width: 225px;
	flex-shrink: 0;
	resize: horizontal;
	overflow: hidden;
}

#mainDiv {
    display: inline-block;
	height: 100%;
    width: 100%;
	overflow: hidden;
}

#browserFrame {
    height: 100%;
    width: 100%;
	border: none;
}
#mainFrame {
    height: 100%;
    width: 100%;
	border: none;
}

.bottom_link {
	position: absolute;
	bottom: 0px;
	margin: 0;
	padding: 4px;
	background: #203c4f;
	border-top: 1px dotted #999;
	border-left: 1px dotted #999;
	height: 16px;
}
#minimize_button {
	visibility: visible;
	right: 15px;
	transform: rotate(270deg);
}
#maximize_button {
	visibility: hidden;
	left: 0px;
	transform: rotate(90deg);
}
