/* sqledit.css
 *
 * CSS descriptions specific to the SQL editor page
 *
 */

html, body {
	padding : 0;
	margin : 0;
	height : 100%;
}

#flex-container {
	height: 100%;
	margin-left: 1em;
	margin-right: 1em;
	display: flex;
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

#last-block {
	margin-bottom: 0.5em;
}

input[type=text] {
	width: 100%;
}

textarea {
	width: 100%;
	height: 100%;
	resize: none;
}

h2 {
	margin-top: 1em;
	margin-left: 0;
	margin-right: 0;
}
