@import url(../global.css);
/**
 * E-maj style sheet
 */
body {
	background-color: #ffffff;
	margin:	4px;
	padding: 0;
	font-family: "Open Sans", arial, tahoma, verdana, helvetica, sans-serif, serif;
	font-size: 0.9em;
	color: #5a5a5a;
}
body > * {
	margin-left: 20px;
}
body.browser {
	font-size: 0.9em;
	background-color: #f8f8f8;
	color: #555555;
}
body.browser > * {
	margin: 0;
}
body.browser div.webfx-tree-row:hover {
	background: #eeeeee;
}
div.logo {
	margin:	0px;
	padding: 0px;
	font-size: smaller; 
	border: none;
	margin-bottom: 12px;
}
header {
	margin: 0px;
	width: 100%;
}
#welcome {
	margin: 20px 20px 40px 20px;
	text-align:center;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #308ac5;
}
h2 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	margin: 1em;
	color: #ffffff;
	background-color: #308ac5;
	border-radius: 7px;
}
h3 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 4px 10px 4px 10px;
	margin: 1em;
	color: #ffffff;
	background-color: #308ac5;
	border-radius: 7px;
}

hr {
	color: #ffffff;
	background-color: #ffffff;
	height: 0px;
	margin-top: 20px;
	border: 0;
}

table {
	border: 0;
	border-collapse: collapse;
}
td, th {
	padding: 1px 8px;
}
a {
	color: #308ac5;
	text-decoration: none;
}
a:hover {
	color: #cc0000;
}
input[type=checkbox], input[type=password], input[type=text], input[type=radio] {
	background: #ffffff;
	border: 1px solid #5090c1;
}
input[type=submit], input[type=button], button {
	background: #ffffff;
	border: 2px solid #8aafce;
	border-radius: 7px;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
	background: #eeeeee;
}
button:disabled {
	background: #ffffff;
	border: 2px solid #d0d0d0;
}
select {
	background: #ffffff;
	border: 1px solid #d5d5d5;
}
table.error {
	margin: auto;
	color: #d72b3f;
	background-color: #f9f9f9;
}
th.data {
	color: #3c424c;
	background-color: #e0e0e0;
    font-weight: normal;
	font-size: 1.0em;
	padding: 3px 7px;
}
tr th.data{
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
}
tr th.data:first-child {
	border-left: 0;
}
tr th.data:last-child {
	border-right: 0;
}
th.required {text-decoration: underline}
.trail {
	background-color: #3c424c;
	color: #9ea1a6;
	margin: 0;
	padding: 0;
	text-align: left;
}
.topbar {
	background-color: #3c424c;
	color: #9ea1a6;
	margin: 0;
	padding: 0;
	text-align: left;
}
body.browser a {
	color: #555555;
}
.trail a:hover, body.browser a:hover {
	color: #cc0000;
}
th.data a {
	color: #3c424c;
}
th.data a:hover {
	color: #cc0000;
}
.trail a {
	color: #cfcfcf;
}
.topbar a {
	color: #cfcfcf;
}
.topbar a:hover {
	color: #ffffff;
}
.trail a:hover {
	color: #ffffff;
}
.topbar .platform, .topbar .host, .topbar .username, .topbar .port {
	color: #ffffff;
}
.topbar, .trail, .tab {
	padding: 2px 1ex;
}
.trail td {
	padding: 2px;
}
.crumb .icon {
	margin-right: 5px;
}
table.tabs {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
}
.tab {
	background-color: #f8f8f8;
	text-align: center;
	vertical-align: top;
	font-size: 1.1em;
	border: 1px solid #dddddd;
	border-top: #ffffff;
	padding: 15px 10px 5px 10px;
	white-space: nowrap;
}
.tab a {
	color: #828d94;
}
.tab a:hover {
	color: #3c424c;
}
.tab:hover {
	background-color: #ffffff;
	border-bottom: 1px solid #9ea1a6;
}
.tabs .active a {
	color: #3c424c;
	text-decoration: none;
}
.tabs .active {
	background-color: #ffffff;
	border-bottom: 1px solid #308ac5;
}
.tab .icon {
	display: block;
}
.active a {
	/*font-weight: bold;
	font-size: 1.2em;
	color: #ffffff;*/
}
ul.toplink, ul.navlink {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.navlink{
	margin:20px 0 20px 20px;
}

ul.toplink li, ul.navlink li {
	display:inline;
	border-left:1px solid #b3b3b3;
	margin:0;padding: 0 2px 0 5px;
}
ul.toplink li:first-child, ul.navlink li:first-child {
	border: none;
	padding-left:0;
}
tr.data1, tr.data2, tr.data3 {
	color: #484848;
	font-size: 0.9em;
}
tr.data1:hover, tr.data2:hover, tr.data3:hover {
	background-color: #eeeeee;
}
tr.data1 td, tr.data2 td, tr.data3 td{
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
tr.data1:first-child td, tr.data2:first-child td, tr.data3:first-child td {
	border-top: 0;
}
tr.data1 td:first-child, tr.data2 td:first-child, tr.data3 td:first-child {
	border-left: 0;
}
tr.data1:last-child td, tr.data2:last-child td, tr.data3:last-child td {
	border-bottom: 0;
}
tr.data1 td:last-child, tr.data2 td:last-child, tr.data3 td:last-child {
	border-right: 0;
}
tr:hover td.data1, tr:hover td.data2, tr:hover td.data3 {
	background-color: #eeeeee;
}
tr td.data1, tr td.data2, tr td.data3{
	border-right: 1px solid #dedede;
	border-left: 1px solid #dedede;
}
tr:first-child td.data1, tr:first-child td.data2, tr:first-child td.data3 {
	border-top: 0;
}
tr td.data1:first-child, tr td.data2:first-child, tr td.data3:first-child {
	border-left: 0;
}
tr:last-child td.data1, tr:last-child td.data2, tr:last-child td.data3 {
	border-bottom: 0;
}
tr td.data1:last-child, tr td.data2:last-child, tr td.data3:last-child {
	border-right: 0;
}
.row1, .data1 {
	background-color: #ffffff;
	text-align: left;
}
.row2, .data2 {
	background-color: #f9f9f9;
	text-align: left;
}
.row3, .data3 {background-color: #d4c8a1}
td.opbutton1, td.opbutton2 {
	color: #000000;
	padding: 2px 6px;
	text-align: center;
/*	font-style: italic;*/
}
td.opbutton1 a, td.opbutton2 a {
	color: #308ac5;
}
td.opbutton1 a:hover, td.opbutton2 a:hover {
	color: #ff0000;
}
td.opbutton1:hover, td.opbutton2:hover {
	text-decoration: none;
}
a.help {
	color: #A46600;
	vertical-align: super;
	text-decoration: none;
	font-size: 0.8em;
}
pre {
	font-size: 110%;
}
pre.data {
	font-size: 100%;
}
pre.error {
	font-size: 120%;
}
.intro li {
	font-weight: normal;
}
.ac_field {
	border:1px solid #363330;
	background: url('../../images/themes/default/openListe.png') no-repeat right;
	padding-right: 20px;
}
.bottom_link {
	background-color: #3c424c;
	color: #cfcfcf;
}
.bottom_link:hover {
	color: #ffffff;
}
div.fk {
    background: #fff;
	border-left: 1px dotted #000;
	padding: 5px;
}
.comment {
	color: #555555;
}
.keyword {
	color: #FF8000;
}
.literal {
	color: #808080;
}
p.message {
	color: #306EFF;
}

/** emaj specific **/

button {
	cursor: pointer;
}
button:disabled,
button[disabled]{
	cursor: default;
}

input[type=submit], input[type=button] {
	cursor: pointer;
}

table.multiactions {
	margin-top: 5px;
}

th.multiactions {
	text-align: left;
	background-color: #e6e6e6;
	border: 1px solid #d8d8d8;
	font-size: smaller; /* 0.9em */
	padding: 0px 5px;
}
tr.row1 {
	border: 1px solid #d8d8d8;
}

/*
**
** Tablesorter
**
 */
/* tables */
.tablesorter-default thead tr th {
	padding-right: 18px;
}
.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
	background-image: url(../../images/themes/default/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc {
	background-image: url(../../images/themes/default/asc.gif);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc {
	background-image: url(../../images/themes/default/desc.gif);
}
.tablesorter-default thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
	background-color: #ffffff;
}
.tablesorter-default thead .sorter-false {
	background-image: none;
	padding: 4px;
	cursor: default;
}

/* hidden filter row */
.tablesorter-default .tablesorter-filter-row.hideme td {
	/*** *********************************************** ***/
	/*** change this padding to modify the thickness     ***/
	/*** of the closed filter row (height = padding x 2) ***/
	padding: 2px;
	/*** *********************************************** ***/
	margin: 0;
	line-height: 0;
	cursor: pointer;
}
.tablesorter-default .tablesorter-filter-row.hideme .tablesorter-filter {
	height: 1px;
	min-height: 0;
	border: 0;
	padding: 0;
	margin: 0;
	/* don't use visibility: hidden because it disables tabbing */
	opacity: 0;
	filter: alpha(opacity=0);
}

/* filter widget */
.tablesorter-default .tablesorter-filter-row td {
	background: #ffffff;
	border-bottom: #ccc 1px solid;
	line-height: normal;
	text-align: center; /* center the input */
	padding: 1px 3px 1px 3px;
	-webkit-transition: line-height 0.1s ease;
	-moz-transition: line-height 0.1s ease;
	-o-transition: line-height 0.1s ease;
	transition: line-height 0.1s ease;
}

.tablesorter-default input.tablesorter-filter {
	width: 5em;
	font-size: 0.8em;
    border: 1px solid #887F5C;
}
.tablesorter-default select.tablesorter-filter {
	font-size: 0.8em;
}
.tablesorter-default input.disabled {
	display: none;
}
